@* NavMain component for sidebar-07 block *@

<RnSidebarGroup>
    <RnSidebarGroupLabel>Platform</RnSidebarGroupLabel>
    <RnSidebarMenu>
        @foreach (var item in Items)
        {
            <RnCollapsible DefaultOpen="@item.IsActive" Class="group/collapsible">
                <Trigger>
                    <RnSidebarMenuItem>
                        <RnSidebarMenuButton Tooltip="@item.Title">
                            @item.IconFragment
                            <span>@item.Title</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="ml-auto transition-transform duration-200 group-data-[state=open]/collapsible:rotate-90">
                                <path d="m9 18 6-6-6-6"/>
                            </svg>
                        </RnSidebarMenuButton>
                    </RnSidebarMenuItem>
                </Trigger>
                <ChildContent>
                    <RnSidebarMenuSub>
                        @if (item.SubItems is not null)
                        {
                            @foreach (var subItem in item.SubItems)
                            {
                                <RnSidebarMenuSubItem>
                                    <RnSidebarMenuSubButton Href="@subItem.Url">
                                        <span>@subItem.Title</span>
                                    </RnSidebarMenuSubButton>
                                </RnSidebarMenuSubItem>
                            }
                        }
                    </RnSidebarMenuSub>
                </ChildContent>
            </RnCollapsible>
        }
    </RnSidebarMenu>
</RnSidebarGroup>

@code {
    [Parameter] public NavItem[] Items { get; set; } = [];

    public record SubItem(string Title, string Url);
    public record NavItem(string Title, string Url, RenderFragment IconFragment, bool IsActive = false, SubItem[]? SubItems = null);
}
